body {
    background-color: salmon;
}
h1 {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    color: darkred;
    text-align: center;
}
p {
    color: rgb(99, 36, 0);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}